Source: btcp-cassandra
Section: main/btcp-cassandra
Priority: extra
Maintainer: Sergey Sergeev <zhirafovod@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: btcp-cassandra
Architecture: all
Provides: role
Conflicts: role
Depends: chef, git
Description: btcp-cassandra
 Component to install Bittorrent copy (BtCP) Cassandra node
 Sources:
 https://github.com/zhirafovod/btcp-cassandra-debian
